.parallax-window {
    min-height: 900px;
    height: auto;
    background: transparent;
    width: 100%;
}

.top {
    right: 0px;
    top: 0px;
    position: absolute;
    padding-right: 5px;
}

.back {
    float: left;
    top: 0px;
    position: absolute;
   	padding-left: 5px;
}

.back h5 {
	font-family: times;
	font-style: bold;
	color: white;
}

.headerimg {
    min-height: 900px;
    background: transparent;
    width: 100%;
}

.headerimg h1 {
	color: white;
	font-weight: bold;
	font-size: 5.vmax;
	padding: 25% 0% 0% 10%;
	width: 45%;
	line-height: 90%;
	font-family: verdana;
}

.row {
	padding: 30px 0px 0px 0px;
	height: auto;
}

.pullquote {
	float: left;
	width: 250px;
	background: url("img/pullquote.png");
	padding: 13px;
	margin: 10px 15px 0px -200px;
}

.pullquote p {
	color: black;
	line-height: 90%;
	font-weight: bold;
	font-size: 26px;
	font-style: italic;
	margin-top: 20px;
	text-align: center;
}

@media only screen and (max-width: 40em) {
	.pullquote {
		width: 100%;
		display: block;
		margin: 30px 0px 50px 0px;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
	}
	.row {
		padding: 20px;
	}
}

@media only screen and (min-width: 40.063em) and (max-width: 64em){
	.pullquote {
		width: 100%;
		display: block;
		margin: 30px 0px 50px 0px;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
	}
	.pullquote p {
		display: block;
	}

	.row {
		padding: 40px;
	}
}

#text_near_images {
	padding-top: 20px;
	padding-bottom: 20px; 
}

#photo_1 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 43%;  
	padding-bottom: 5px; 
	padding-top: 5px;
}

#photo_2 {
	height: auto;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 43%;  

}	

#photo_3 {
	height: auto;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 43%;  
}	

#photo_4 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 43%;  
	padding-bottom: 5px; 
	padding-top: 5px;
	width: 43%;  
}

#photo_5 {
	height: auto;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 43%;  
}	

#photo_6 {
	height: auto;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 43%;  
}	

#photo_7 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 43%;  
	padding-bottom: 5px; 
	padding-top: 5px;
}

#photo_8 {
	height: auto;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 43%;  
}	

footer {
    color: rgba(0,0,0, 0.7);
    padding: 8px 0 8px 0;
    font-size: 0.7em;
    clear: both;
    border-top: 1px solid rgba(0,0,0, 0.1);
    text-align: center;
}
